name: Deploy to AWS EC2 with Docker

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          ref: main
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          build-args: BASE_URL=http://${{ secrets.EC2_HOST }}
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ vars.APP_NAME }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }} 
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop ${{ vars.APP_NAME }} || true
            docker rm ${{ vars.APP_NAME }} || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/${{ vars.APP_NAME }}
            docker run -d \
            --name ${{ vars.APP_NAME }} \
            -p 80:3000 \
            ${{ secrets.DOCKER_USERNAME }}/${{ vars.APP_NAME }}
            docker image prune -f
